@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  background-color: #121517;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1292px;
  margin: 0 auto;
  padding: 0 20px;
}

.loading {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10000000000000000;
  background-color: #026442;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-none {
  display: none;
}

.bactop {
  animation: bacTop 0.7s infinite;
  position: fixed;
  z-index: 9999999;
  bottom: 100px;
  right: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, #35c66b 0px -12px 30px, #35c66b 0px 4px 6px, #35c66b 0px 12px 13px, #35c66b 0px -3px 5px;
  border: none;
  padding: 15px 30px;
  background-color: #121517;
  border: 2px solid #35c66b;
  border-radius: 29px;
}
.bactop img {
  width: 15px;
}
@keyframes bacTop {
  0% {
    transform: scale(1);
    transform: translateY(10px);
  }
  100% {
    transform: scale(1.1);
    transform: translateY(-10px);
  }
}

.navbar-shrink {
  padding: 30px 0;
  box-shadow: #35c66b 0px 6px 12px -2px, #35c66b 0px 3px 7px -3px;
}

header {
  padding: 48px 0;
  position: fixed;
  z-index: 9999999;
  top: 0;
  width: 100%;
  background-color: #121517;
  transition: 0.3s all;
}
header .desctop-navabar {
  display: flex;
  justify-content: 0;
  align-items: center;
  gap: 94px;
}
header .desctop-navabar ul {
  display: flex;
  justify-content: 0;
  align-items: center;
  gap: 94px;
}
@media (max-width: 700px) {
  header .desctop-navabar ul {
    display: none;
  }
}
header .desctop-navabar ul li a {
  font-weight: 400;
  font-size: 19.17px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  position: relative;
  transition: color 0.3s ease-in-out;
}
header .desctop-navabar ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: #35c66b;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
header .desctop-navabar ul li a:hover {
  color: #35c66b; /* Hover qilinganda rang o‘zgaradi */
}
header .desctop-navabar ul li a:hover::after {
  transform: scaleX(1);
}
header .mobilne-navbar {
  display: none;
  position: fixed;
  z-index: 99999;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 70px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
@media (max-width: 700px) {
  header .mobilne-navbar {
    display: flex;
  }
}
header .mobilne-navbar ul {
  display: flex;
  justify-content: space-between;
  width: 350px;
}
header .mobilne-navbar ul li {
  position: relative;
  width: 70px;
  height: 70px;
  z-index: 1;
}
header .mobilne-navbar ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
header .mobilne-navbar ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
}
header .mobilne-navbar ul li a .icon svg {
  fill: #222327;
}
header .mobilne-navbar ul li a .text {
  position: absolute;
  color: #222327;
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}
header .mobilne-navbar ul li.active a .icon {
  transform: translateY(-32px);
}
header .mobilne-navbar ul li.active a .text {
  opacity: 1;
  transform: translateY(10px);
}
header .indicator {
  position: absolute;
  right: 70%;
  top: -50%;
  width: 70px;
  height: 70px;
  background: #29fd53;
  border-radius: 50%;
  border: 6px solid #222327;
  transition: 0.5s;
}
header .indicator::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 1px -10px 0 0 #222327;
}
header .indicator::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: -1px -10px 0 0 #222327;
}
@media (max-width: 428px) {
  header .mobilne-navbar ul li:nth-child(1).active ~ .indicator {
    left: 40px;
    transform: translateX(0px);
  }
}
@media (max-width: 428px) {
  header .mobilne-navbar ul li:nth-child(2).active ~ .indicator {
    left: 110px;
    transform: translateX(70px);
  }
}
@media (max-width: 428px) {
  header .mobilne-navbar ul li:nth-child(3).active ~ .indicator {
    left: 180px;
    transform: translateX(140px);
  }
}
@media (max-width: 391px) {
  header .mobilne-navbar ul li:nth-child(1).active ~ .indicator {
    left: 22px;
    transform: translateX(0px);
  }
}
@media (max-width: 391px) {
  header .mobilne-navbar ul li:nth-child(2).active ~ .indicator {
    left: 93px;
    transform: translateX(70px);
  }
}
@media (max-width: 391px) {
  header .mobilne-navbar ul li:nth-child(3).active ~ .indicator {
    left: 160px;
    transform: translateX(140px);
  }
}
@media (max-width: 376px) {
  header .mobilne-navbar ul li:nth-child(1).active ~ .indicator {
    left: 15px;
    transform: translateX(0px);
  }
}
@media (max-width: 376px) {
  header .mobilne-navbar ul li:nth-child(2).active ~ .indicator {
    left: 83px;
    transform: translateX(70px);
  }
}
@media (max-width: 376px) {
  header .mobilne-navbar ul li:nth-child(3).active ~ .indicator {
    left: 150px;
    transform: translateX(140px);
  }
}
@media (max-width: 391px) {
  header .mobilne-navbar ul li:nth-child(1).active ~ .indicator {
    left: 27px;
    transform: translateX(0px);
  }
}
@media (max-width: 391px) {
  header .mobilne-navbar ul li:nth-child(2).active ~ .indicator {
    left: 100px;
    transform: translateX(70px);
  }
}
@media (max-width: 391px) {
  header .mobilne-navbar ul li:nth-child(3).active ~ .indicator {
    left: 170px;
    transform: translateX(140px);
  }
}
@media (max-width: 361px) {
  header .mobilne-navbar ul li:nth-child(1).active ~ .indicator {
    left: 7px;
    transform: translateX(0px);
  }
}
@media (max-width: 361px) {
  header .mobilne-navbar ul li:nth-child(2).active ~ .indicator {
    left: 80px;
    transform: translateX(70px);
  }
}
@media (max-width: 361px) {
  header .mobilne-navbar ul li:nth-child(3).active ~ .indicator {
    left: 145px;
    transform: translateX(140px);
  }
}
@media (max-width: 415px) {
  header .mobilne-navbar ul li:nth-child(1).active ~ .indicator {
    left: 33px;
    transform: translateX(0px);
  }
}
@media (max-width: 415px) {
  header .mobilne-navbar ul li:nth-child(2).active ~ .indicator {
    left: 100px;
    transform: translateX(70px);
  }
}
@media (max-width: 415px) {
  header .mobilne-navbar ul li:nth-child(3).active ~ .indicator {
    left: 170px;
    transform: translateX(140px);
  }
}
@media (max-width: 376px) {
  header .mobilne-navbar ul li:nth-child(1).active ~ .indicator {
    left: 15px;
    transform: translateX(0px);
  }
}
@media (max-width: 376px) {
  header .mobilne-navbar ul li:nth-child(2).active ~ .indicator {
    left: 85px;
    transform: translateX(70px);
  }
}
@media (max-width: 376px) {
  header .mobilne-navbar ul li:nth-child(3).active ~ .indicator {
    left: 150px;
    transform: translateX(140px);
  }
}
@media (max-width: 321px) {
  header .mobilne-navbar ul li:nth-child(1).active ~ .indicator {
    left: 3px;
    transform: translateX(0px);
  }
}
@media (max-width: 321px) {
  header .mobilne-navbar ul li:nth-child(2).active ~ .indicator {
    left: 55px;
    transform: translateX(70px);
  }
}
@media (max-width: 321px) {
  header .mobilne-navbar ul li:nth-child(3).active ~ .indicator {
    left: 110px;
    transform: translateX(140px);
  }
}

footer {
  padding: 50px 0 120px 0;
  background-color: #121517;
}
footer .footer-top {
  display: flex;
  justify-content: space-between;
  align-items: 0;
  gap: 60px;
}
@media (max-width: 1110px) {
  footer .footer-top {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
footer .footer-top .footer-logo {
  filter: drop-shadow(10px 10px 10px #35c66b);
}
footer .footer-top .footer-main h3,
footer .footer-top .footer-we-make h3,
footer .footer-top .footer-products h3,
footer .footer-top .footer-events h3,
footer .footer-top .footer-contacts h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -1%;
  color: #35c66b;
}
footer .footer-top .footer-main ul li,
footer .footer-top .footer-we-make ul li,
footer .footer-top .footer-products ul li,
footer .footer-top .footer-events ul li,
footer .footer-top .footer-contacts ul li {
  margin-top: 10px;
}
footer .footer-top .footer-main ul li a,
footer .footer-top .footer-we-make ul li a,
footer .footer-top .footer-products ul li a,
footer .footer-top .footer-events ul li a,
footer .footer-top .footer-contacts ul li a {
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -1%;
}
footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-top: 90px;
}
@media (max-width: 715px) {
  footer .footer-bottom {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
footer .footer-bottom .footer-contacts-telefon a {
  display: flex;
  justify-content: 0;
  align-items: center;
  gap: 14px;
  font-weight: 500;
  font-size: 32px;
  line-height: 132%;
  letter-spacing: 0%;
  color: #ffffff;
}
footer .footer-bottom .footer-contacts-telefon a img {
  animation: telefon 0.5s infinite;
}
@keyframes telefon {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}
@media (max-width: 430px) {
  footer .footer-bottom .footer-contacts-telefon a {
    font-weight: 400;
    font-size: 22px;
    line-height: 132%;
    letter-spacing: 0%;
  }
}
@media (max-width: 350px) {
  footer .footer-bottom .footer-contacts-telefon a {
    font-weight: 400;
    font-size: 18px;
    line-height: 132%;
    letter-spacing: 0%;
  }
}
footer .footer-bottom .footer-contacts-instagram a {
  display: flex;
  justify-content: 0;
  align-items: center;
  gap: 14px;
  font-weight: 500;
  font-size: 32px;
  line-height: 132%;
  letter-spacing: 0%;
  color: #ffffff;
}
footer .footer-bottom .footer-contacts-instagram a img {
  animation: instagram 0.5s infinite;
}
@keyframes instagram {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@media (max-width: 400px) {
  footer .footer-bottom .footer-contacts-instagram a {
    font-weight: 400;
    font-size: 27px;
    line-height: 132%;
    letter-spacing: 0%;
  }
}
@media (max-width: 430px) {
  footer .footer-bottom .footer-contacts-instagram a {
    font-weight: 400;
    font-size: 22px;
    line-height: 132%;
    letter-spacing: 0%;
  }
}

.section-hero {
  padding-top: 120px;
  padding-bottom: 100px;
  background-color: #121517;
}
.section-hero .section-hero-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
@media (max-width: 1024px) {
  .section-hero .section-hero-page {
    flex-direction: column;
  }
}
.section-hero .section-hero-page img {
  width: 100%;
  animation: pupkin 1000ms infinite;
  transition: 0.5s all;
}
@media (max-width: 900px) {
  .section-hero .section-hero-page img {
    padding-bottom: 50px;
  }
}
@keyframes pupkin {
  0% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}
.section-hero .section-hero-page h1 {
  padding-bottom: 54px;
  max-width: 540px;
  color: #ffffff;
  font-weight: 800;
  font-size: 80px;
  line-height: 109%;
  letter-spacing: -3%;
}
.section-hero .section-hero-page h1 span {
  text-shadow: -27px 7px 27px rgba(35, 114, 73, 0.59);
  color: #35c66b;
}
@media (max-width: 500px) {
  .section-hero .section-hero-page h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 109%;
    letter-spacing: -3%;
  }
}
.section-hero .section-hero-page p {
  max-width: 570px;
  font-weight: 400;
  font-size: 20px;
  line-height: 163%;
  letter-spacing: -2%;
  color: #d9d9d9;
}
.section-hero .section-hero-page .section-hero-btn {
  display: flex;
  justify-content: 0;
  align-items: center;
  gap: 30px;
  padding-top: 54px;
}
@media (max-width: 560px) {
  .section-hero .section-hero-page .section-hero-btn {
    flex-direction: column;
  }
}
.section-hero .section-hero-page .section-hero-btn .hero-btn-select {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, #35c66b 0px -12px 30px, #35c66b 0px 4px 6px, #35c66b 0px 12px 13px, #35c66b 0px -3px 5px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  cursor: pointer;
  padding: 20px 79.38px 19.65px 78px;
  border-radius: 82.83px;
  border: 0px;
  font-weight: 639;
  font-size: 24px;
  line-height: 146%;
  letter-spacing: -2%;
  background: linear-gradient(265.23deg, #237249 6.79%, #35c66b 97.2%);
  color: #ffffff;
  border: none;
  transition: 0.5s all;
}
.section-hero .section-hero-page .section-hero-btn .hero-btn-select::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #ffffff;
  transition: left 0.3s ease-in-out;
  z-index: -1;
}
.section-hero .section-hero-page .section-hero-btn .hero-btn-select:hover::before {
  left: 0;
}
.section-hero .section-hero-page .section-hero-btn .hero-btn-select:hover {
  color: #35c66b;
}
@media (max-width: 380px) {
  .section-hero .section-hero-page .section-hero-btn .hero-btn-select {
    cursor: pointer;
    padding: 20px 50px 19.65px 50px;
    border-radius: 82.83px;
    border: 0px;
  }
}
.section-hero .section-hero-page .section-hero-btn .hero-btn-more {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, #ffffff 0px -12px 30px, #ffffff 0px 4px 6px, #ffffff 0px 12px 13px, #ffffff 0px -3px 5px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  padding: 20px 53.71px 19.65px 54.26px;
  border-radius: 82.83px;
  border: 1.02px solid linear-gradient(146.68deg, #dadada -17.38%, rgba(218, 218, 218, 0) 91.61%);
  font-weight: 400;
  font-size: 24px;
  line-height: 146%;
  letter-spacing: -3%;
  background-color: #121517;
  color: #ffffff;
  transition: 0.5s all;
}
.section-hero .section-hero-page .section-hero-btn .hero-btn-more::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #ffffff;
  transition: left 0.3s ease-in-out;
  z-index: -1;
}
.section-hero .section-hero-page .section-hero-btn .hero-btn-more:hover::before {
  left: 0;
}
.section-hero .section-hero-page .section-hero-btn .hero-btn-more:hover {
  color: #121517;
}
.section-hero .section-hero-page .hero-award-cards {
  padding-top: 54px;
  display: flex;
  justify-content: 0;
  align-items: center;
  gap: 46.02px;
}
@media (max-width: 520px) {
  .section-hero .section-hero-page .hero-award-cards {
    justify-content: center;
    flex-wrap: wrap;
  }
}
.section-hero .section-hero-page .hero-award-cards .hero-award-card {
  animation: heroBtn 1s infinite;
}
.section-hero .section-hero-page .hero-award-cards .hero-award-card h2 {
  color: #ffffff;
  font-weight: 400;
  font-size: 62px;
  line-height: 109%;
  letter-spacing: -3%;
}
.section-hero .section-hero-page .hero-award-cards .hero-award-card h2 span {
  color: #35c66b;
}
.section-hero .section-hero-page .hero-award-cards .hero-award-card p {
  font-weight: 400;
  font-size: 20px;
  line-height: 144%;
  letter-spacing: -2%;
  color: #d9d9d9;
  transition: 0.5s all;
}
@keyframes heroBtn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.section-hero .section-hero-page .section-hero-pumpkin {
  filter: drop-shadow(10px 10px 10px #35c66b);
}
.section-hero .secton-circle {
  filter: drop-shadow(10px 10px 10px #35c66b);
  left: 60px;
  right: 200px;
  position: absolute;
  z-index: 99;
  animation: weHave 1s infinite;
}
@media (max-width: 720px) {
  .section-hero .secton-circle {
    display: none;
  }
}
@keyframes weHave {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}
.section-hero .section-hero-page-bottom-card {
  position: relative;
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 51px 78px 51px 78px;
  width: 100%;
  border-radius: 46px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, #35c66b 0px -12px 30px, #35c66b 0px 4px 6px, #35c66b 0px 12px 13px, #35c66b 0px -3px 5px;
}
@media (max-width: 900px) {
  .section-hero .section-hero-page-bottom-card {
    flex-direction: column;
    margin: 0 auto;
    padding: 51px 40px 51px 40px;
    width: 90%;
    border-radius: 46px;
    background-color: #ffffff;
  }
}
.section-hero .section-hero-page-bottom-card img {
  filter: drop-shadow(10px 10px 10px #35c66b);
  animation: heroBtn 1s infinite;
}
.section-hero .section-hero-page-bottom-card h3 {
  text-align: center;
  color: #121517;
  font-weight: 500;
  font-size: 32px;
  line-height: 163%;
  letter-spacing: -2%;
}
.section-hero .section-hero-page-bottom-card p {
  font-weight: 400;
  font-size: 20.13px;
  line-height: 163%;
  letter-spacing: -2%;
  text-align: center;
  color: #121517;
  max-width: 250px;
}

.section-make {
  background-color: #121517;
}
.section-make .section-make-page {
  display: flex;
  justify-content: space-between;
  align-items: 0;
  gap: 0;
}
@media (max-width: 1186px) {
  .section-make .section-make-page {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
}
.section-make .section-make-page .section-make-image {
  filter: drop-shadow(10px 10px 10px #35c66b);
  position: relative;
}
@media (max-width: 669px) {
  .section-make .section-make-page .section-make-photo {
    width: 100%;
  }
}
.section-make .section-make-page .section-make-circle {
  position: relative;
  top: -800px;
  left: 400px;
  animation: makeCircle 1s infinite;
}
@media (max-width: 1286px) {
  .section-make .section-make-page .section-make-circle {
    top: -600px;
    left: -200px;
  }
}
@media (max-width: 842px) {
  .section-make .section-make-page .section-make-circle {
    top: -800px;
    left: 400px;
  }
}
@media (max-width: 640px) {
  .section-make .section-make-page .section-make-circle {
    display: none;
  }
}
@keyframes makeCircle {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}
.section-make .section-make-page .section-make-texts {
  margin-top: 20px;
  display: flex;
  justify-content: 0;
  align-items: center;
  gap: 0;
  flex-direction: column;
}
.section-make .section-make-page .section-make-texts h2 {
  max-width: 457px;
  font-weight: 800;
  font-size: 80px;
  line-height: 109%;
  letter-spacing: -3%;
  color: #ffffff;
}
.section-make .section-make-page .section-make-texts h2 span {
  color: #35c66b;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, #35c66b 0px -12px 30px;
}
@media (max-width: 445px) {
  .section-make .section-make-page .section-make-texts h2 {
    font-weight: 600;
    font-size: 60px;
    line-height: 109%;
    letter-spacing: -3%;
    color: #ffffff;
  }
}
.section-make .section-make-page .section-make-texts p {
  margin-top: 63px;
  max-width: 457px;
  font-weight: 400;
  font-size: 20px;
  line-height: 163%;
  letter-spacing: -2%;
  color: #d9d9d9;
}
.section-make .section-make-page .section-make-texts .section-make-cooking-btn {
  filter: drop-shadow(10px 10px 10px #35c66b);
  margin-top: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 557px;
  height: 275px;
  background: url("../images/make-section/cooking.svg");
}
@media (max-width: 560px) {
  .section-make .section-make-page .section-make-texts .section-make-cooking-btn {
    max-width: 557px;
    width: 100%;
    max-width: 100%;
  }
}
.section-make .section-make-page .section-make-texts .section-make-cooking-btn button {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, #35c66b 0px -12px 30px, #35c66b 0px 4px 6px, #35c66b 0px 12px 13px, #35c66b 0px -3px 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-weight: 639;
  font-size: 24px;
  line-height: 146%;
  letter-spacing: -2%;
  border: none;
  padding: 20px 42px;
  background-color: #35c66b;
  border-radius: 82px;
  color: #ffffff;
}
@media (max-width: 500px) {
  .section-make .section-make-page .section-make-texts .section-make-cooking-btn button {
    padding: 15px 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 146%;
    letter-spacing: -2%;
  }
}
.section-make .section-make-page .section-make-texts .section-make-cooking-btn button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #ffffff;
  transition: left 0.3s ease-in-out;
  z-index: -1;
}
.section-make .section-make-page .section-make-texts .section-make-cooking-btn button:hover::before {
  left: 0;
}
.section-make .section-make-page .section-make-texts .section-make-cooking-btn button:hover {
  color: #35c66b;
}

.section-carousel {
  background-color: #121517;
}
@media (max-width: 1185px) {
  .section-carousel {
    padding-top: 100px;
  }
}
.section-carousel .section-carousel-page .section-carousel-texts {
  display: flex;
  justify-content: 0;
  align-items: center;
  gap: 72px;
}
@media (max-width: 940px) {
  .section-carousel .section-carousel-page .section-carousel-texts {
    flex-direction: column;
  }
}
.section-carousel .section-carousel-page .section-carousel-texts h2 {
  max-width: 392px;
  font-weight: 800;
  font-size: 80px;
  line-height: 109%;
  letter-spacing: -3%;
  color: #ffffff;
}
.section-carousel .section-carousel-page .section-carousel-texts h2 span {
  text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, #35c66b 0px -12px 30px;
  color: #35c66b;
}
@media (max-width: 450px) {
  .section-carousel .section-carousel-page .section-carousel-texts h2 {
    font-weight: 600;
    font-size: 55px;
    line-height: 109%;
    letter-spacing: -3%;
  }
}
.section-carousel .section-carousel-page .section-carousel-texts p {
  max-width: 444px;
  font-weight: 400;
  font-size: 20px;
  line-height: 163%;
  letter-spacing: -2%;
  color: #d9d9d9;
}
.section-carousel .section-carousel-page .owl-carousel-card {
  margin-top: 54px;
  box-shadow: #35c66b 0px 3px 8px;
  border: 1.5px solid #35c66b;
  padding: 60px 36px 0 36px;
  display: flex;
  justify-content: center;
  align-items: 0;
  gap: 40px;
  width: 277px;
  border-radius: 29px;
}
@media (max-width: 442px) {
  .section-carousel .section-carousel-page .owl-carousel-card {
    padding: 60px 16px 0 16px;
  }
}
.section-carousel .section-carousel-page .owl-carousel-card .owl-carousel-image {
  box-shadow: #35c66b 0px 3px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  margin: 0 auto;
  width: 180px;
  height: 180px;
  border-radius: 100px;
  background-color: #35c66b;
}
.section-carousel .section-carousel-page .owl-carousel-card .owl-carousel-image img {
  animation: fastRotate 1s infinite;
  filter: drop-shadow(10px 10px 10px #35c66b);
}
@keyframes fastRotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}
.section-carousel .section-carousel-page .owl-carousel-card h3 {
  padding-top: 30px;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  font-size: 32px;
  line-height: 163%;
  letter-spacing: -2%;
}
.section-carousel .section-carousel-page .owl-carousel-card p {
  padding-top: 18px;
  font-weight: 400;
  font-size: 20.13px;
  line-height: 163%;
  letter-spacing: -2%;
  text-align: center;
  color: #d9d9d9;
}
.section-carousel .section-carousel-page .owl-carousel-card .owl-carousel-price {
  padding-top: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.section-carousel .section-carousel-page .owl-carousel-card .owl-carousel-price h4 {
  font-weight: 500;
  font-size: 32px;
  line-height: 163%;
  letter-spacing: -2%;
  color: #ffffff;
}
.section-carousel .section-carousel-page .owl-carousel-card .owl-carousel-price p {
  font-weight: 400;
  font-size: 20.13px;
  line-height: 163%;
  letter-spacing: -2%;
  color: #d9d9d9;
}
.section-carousel .section-carousel-page .owl-carousel-card button {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: #35c66b 0px 3px 8px;
  margin: 30px auto;
  border: none;
  display: flex;
  align-items: center;
  padding: 14px 38px;
  background-color: #35c66b;
  border-radius: 59.72px;
  color: #ffffff;
  font-weight: 639;
  font-size: 17.3px;
  line-height: 146%;
  letter-spacing: -2%;
}
.section-carousel .section-carousel-page .owl-carousel-card button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #ffffff;
  transition: left 0.3s ease-in-out;
  z-index: -1;
}
.section-carousel .section-carousel-page .owl-carousel-card button:hover::before {
  left: 0;
}
.section-carousel .section-carousel-page .owl-carousel-card button:hover {
  color: #35c66b;
}

.section-events {
  padding-top: 100px;
  background-color: #121517;
}
.section-events .section-events-texts {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 72px;
}
@media (max-width: 955px) {
  .section-events .section-events-texts {
    flex-direction: column;
  }
}
.section-events .section-events-texts p {
  max-width: 457px;
  color: #d9d9d9;
  font-weight: 540;
  font-size: 20px;
  line-height: 163%;
  letter-spacing: -2%;
}
.section-events .section-events-texts h2 {
  max-width: 400px;
  font-weight: 800;
  font-size: 80px;
  line-height: 109%;
  letter-spacing: -3%;
  color: #ffffff;
}
.section-events .section-events-texts h2 span {
  color: #35c66b;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, #35c66b 0px -12px 30px;
}
.section-events .section-events-cards-top {
  margin-top: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 23px;
}
@media (max-width: 900px) {
  .section-events .section-events-cards-top {
    flex-direction: column;
  }
}
.section-events .section-events-cards-top .section-events-card-1 {
  border-radius: 30px;
  width: 600px;
  background: url("../../images/section-events/coffe-1.png");
  background-size: cover; /* Rasmni ekranga mos qiladi */
  background-position: center; /* Markaziy joylashuv */
  background-repeat: no-repeat; /* Rasm qaytarilmasin */
}
.section-events .section-events-cards-top .section-events-card-1 h2 {
  padding: 44px 0 0 28.55px;
  max-width: 260px;
  font-weight: 500;
  font-size: 32px;
  line-height: 109%;
  letter-spacing: 0%;
  color: #ffffff;
}
.section-events .section-events-cards-top .section-events-card-2 {
  border-radius: 30px;
  width: 600px;
  background: url("../../images/section-events/coffe-2.png");
  background-size: cover; /* Rasmni ekranga mos qiladi */
  background-position: center; /* Markaziy joylashuv */
  background-repeat: no-repeat; /* Rasm qaytarilmasin */
}
.section-events .section-events-cards-top .section-events-card-1,
.section-events .section-events-cards-top .section-events-card-2 {
  box-shadow: #35c66b 0px 3px 8px;
  border: 1.5px solid #35c66b;
}
@media (max-width: 680px) {
  .section-events .section-events-cards-top .section-events-card-1,
  .section-events .section-events-cards-top .section-events-card-2 {
    width: 100%;
  }
}
.section-events .section-events-cards-top .section-events-card-1 h2,
.section-events .section-events-cards-top .section-events-card-2 h2 {
  padding: 44px 0 0 28.55px;
  max-width: 260px;
  font-weight: 500;
  font-size: 32px;
  line-height: 109%;
  letter-spacing: 0%;
  color: #ffffff;
}
.section-events .section-events-cards-top .section-events-card-1 button,
.section-events .section-events-cards-top .section-events-card-2 button {
  margin: 44px 0 27.35px 28.55px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 30px 55px;
  border-radius: 85px;
  background-color: #35c66b;
  border: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 24px;
  line-height: 146%;
  letter-spacing: -3%;
}
.section-events .section-events-cards-top .section-events-card-1 button::before,
.section-events .section-events-cards-top .section-events-card-2 button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #ffffff;
  transition: left 0.3s ease-in-out;
  z-index: -1;
}
.section-events .section-events-cards-top .section-events-card-1 button:hover::before,
.section-events .section-events-cards-top .section-events-card-2 button:hover::before {
  left: 0;
}
.section-events .section-events-cards-top .section-events-card-1 button:hover,
.section-events .section-events-cards-top .section-events-card-2 button:hover {
  color: #35c66b;
}
.section-events .section-events-cards-bottom {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 23px;
}
@media (max-width: 900px) {
  .section-events .section-events-cards-bottom {
    flex-direction: column;
  }
}
.section-events .section-events-cards-bottom .section-events-card-3 {
  border-radius: 30px;
  width: 395px;
  background: url("../../images/section-events/coffe-3.png");
  transform-origin: center;
}
.section-events .section-events-cards-bottom .section-events-card-4 {
  border-radius: 30px;
  width: 395px;
  background: url("../../images/section-events/coffe-4.png");
}
.section-events .section-events-cards-bottom .section-events-card-5 {
  border-radius: 30px;
  width: 395px;
  background: url("../../images/section-events/coffe-5.png");
}
.section-events .section-events-cards-bottom .section-events-card-3,
.section-events .section-events-cards-bottom .section-events-card-4,
.section-events .section-events-cards-bottom .section-events-card-5 {
  box-shadow: #35c66b 0px 3px 8px;
  border: 1.5px solid #35c66b;
  padding: 44px 0 0 28.55px;
}
@media (max-width: 430px) {
  .section-events .section-events-cards-bottom .section-events-card-3,
  .section-events .section-events-cards-bottom .section-events-card-4,
  .section-events .section-events-cards-bottom .section-events-card-5 {
    width: 100%;
  }
}
.section-events .section-events-cards-bottom .section-events-card-3 h2,
.section-events .section-events-cards-bottom .section-events-card-4 h2,
.section-events .section-events-cards-bottom .section-events-card-5 h2 {
  max-width: 300px;
  font-weight: 500;
  font-size: 30px;
  line-height: 109%;
  letter-spacing: 0%;
  color: #ffffff;
}
.section-events .section-events-cards-bottom .section-events-card-3 button,
.section-events .section-events-cards-bottom .section-events-card-4 button,
.section-events .section-events-cards-bottom .section-events-card-5 button {
  margin: 44px 0 27.35px 28.55px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 30px 55px;
  border-radius: 85px;
  background-color: #35c66b;
  border: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 24px;
  line-height: 146%;
  letter-spacing: -3%;
}
.section-events .section-events-cards-bottom .section-events-card-3 button::before,
.section-events .section-events-cards-bottom .section-events-card-4 button::before,
.section-events .section-events-cards-bottom .section-events-card-5 button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #ffffff;
  transition: left 0.3s ease-in-out;
  z-index: -1;
}
.section-events .section-events-cards-bottom .section-events-card-3 button:hover::before,
.section-events .section-events-cards-bottom .section-events-card-4 button:hover::before,
.section-events .section-events-cards-bottom .section-events-card-5 button:hover::before {
  left: 0;
}
.section-events .section-events-cards-bottom .section-events-card-3 button:hover,
.section-events .section-events-cards-bottom .section-events-card-4 button:hover,
.section-events .section-events-cards-bottom .section-events-card-5 button:hover {
  color: #35c66b;
}

.section-contacts {
  padding-top: 148px;
  background-color: #121517;
}
.section-contacts .section-contacts-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
@media (max-width: 870px) {
  .section-contacts .section-contacts-page {
    flex-direction: column;
    gap: 40px;
  }
}
.section-contacts .section-contacts-page .section-contacts-texts h2 {
  max-width: 365px;
  color: #ffffff;
  font-weight: 800;
  font-size: 80px;
  line-height: 109%;
  letter-spacing: -3%;
}
.section-contacts .section-contacts-page .section-contacts-texts h2 span {
  color: #35c66b;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, #35c66b 0px -12px 30px;
}
@media (max-width: 400px) {
  .section-contacts .section-contacts-page .section-contacts-texts h2 {
    font-weight: 600;
    font-size: 60px;
    line-height: 109%;
    letter-spacing: -3%;
  }
}
.section-contacts .section-contacts-page .section-contacts-texts p {
  margin-top: 52px;
  font-weight: 400;
  font-size: 20px;
  line-height: 163%;
  letter-spacing: -2%;
  max-width: 387px;
  color: #d9d9d9;
}
.section-contacts .section-contacts-page .section-contacts-texts .section-contacts-instagram {
  margin-top: 60px;
}
.section-contacts .section-contacts-page .section-contacts-texts .section-contacts-instagram a {
  display: flex;
  justify-content: 0;
  align-items: center;
  gap: 14px;
  font-weight: 500;
  font-size: 32px;
  line-height: 132%;
  letter-spacing: 0%;
  color: #ffffff;
}
.section-contacts .section-contacts-page .section-contacts-texts .section-contacts-instagram a img {
  animation: instagram 0.5s infinite;
}
@keyframes instagram {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@media (max-width: 400px) {
  .section-contacts .section-contacts-page .section-contacts-texts .section-contacts-instagram a {
    font-weight: 400;
    font-size: 27px;
    line-height: 132%;
    letter-spacing: 0%;
  }
}
.section-contacts .section-contacts-page .section-contacts-texts .section-contacts-telefon {
  margin-top: 28px;
}
.section-contacts .section-contacts-page .section-contacts-texts .section-contacts-telefon a {
  display: flex;
  justify-content: 0;
  align-items: center;
  gap: 14px;
  font-weight: 500;
  font-size: 32px;
  line-height: 132%;
  letter-spacing: 0%;
  color: #ffffff;
}
.section-contacts .section-contacts-page .section-contacts-texts .section-contacts-telefon a img {
  animation: telefon 0.5s infinite;
}
@keyframes telefon {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}
@media (max-width: 400px) {
  .section-contacts .section-contacts-page .section-contacts-texts .section-contacts-telefon a {
    font-weight: 400;
    font-size: 27px;
    line-height: 132%;
    letter-spacing: 0%;
  }
}
@media (max-width: 342px) {
  .section-contacts .section-contacts-page .section-contacts-texts .section-contacts-telefon a {
    font-weight: 400;
    font-size: 22px;
    line-height: 132%;
    letter-spacing: 0%;
  }
}
.section-contacts .section-contacts-page .section-contacts-img-cards {
  position: relative;
}
.section-contacts .section-contacts-page .section-contacts-img-cards .contacts-image {
  filter: drop-shadow(10px 10px 10px #35c66b);
}
@media (max-width: 470px) {
  .section-contacts .section-contacts-page .section-contacts-img-cards .contacts-image {
    width: 100%;
  }
}
.section-contacts .section-contacts-page .section-contacts-img-cards .contacts-circle {
  left: -30px;
  top: -50px;
  position: absolute;
  z-index: 9;
  animation: contactCircle 1s infinite;
  transition: 0.5s all;
}
@keyframes contactCircle {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(-25deg);
  }
}

.owl-nav.disabled {
  display: flex !important;
  opacity: 1 !important;
  pointer-events: all !important;
}

.owl-nav {
  width: 84px;
  height: 84px;
  box-shadow: #35c66b 0px 3px 8px;
  margin-left: 54px;
  margin-right: 185px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 300px;
  border-radius: 29px;
  display: flex;
  align-items: center !important;
  color: #35c66b;
  padding: 32px 24px;
  border: 1.5px solid #35c66b;
  height: 60px;
}
.owl-nav .owl-prev {
  display: none;
}
@media (max-width: 1298px) {
  .owl-nav {
    margin-left: 54px;
    margin-right: 40px;
  }
}
@media (max-width: 480px) {
  .owl-nav {
    margin-left: 20px;
    margin-right: 0px;
  }
}
@media (max-width: 442px) {
  .owl-nav {
    margin-left: 10px;
  }
}
@media (max-width: 474px) {
  .owl-nav {
    display: none;
  }
}

.owl-carousel {
  display: flex !important;
}

.owl-carousel .owl-item img {
  width: 200%;
}