@use "../utils/functions" as func;
@use "../utils/variables" as var;
@use "../base/typography" as fonts;
@use "../utils/mixins" as mix;
@use "../layout/flex" as flx;
@use "../components/buttons" as btns;
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  font-family: "Montserrat", sans-serif;
  background-color: var.$bg-color-121517;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  $mb-padding: 20;
  max-width: func.container(1512, 130, $mb-padding);
  margin: 0 auto;
  padding: 0 $mb-padding + px;
}
.loading {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9999999999999999;
  background-color: #1f5938;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-none {
  display: none;
}
.bactop {
  animation: bacTop 0.7s infinite;
  position: fixed;
  z-index: 9999999;
  bottom: 100px;
  right: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, var.$bg-color-35c66b 0px -12px 30px,
    var.$bg-color-35c66b 0px 4px 6px, var.$bg-color-35c66b 0px 12px 13px,
    var.$bg-color-35c66b 0px -3px 5px;
  border: none;
  padding: 15px 30px;
  background-color: var.$bg-color-121517;
  border: 2px solid var.$bg-color-35c66b;
  border-radius: 29px;
  img {
    width: 15px;
  }
  @keyframes bacTop {
    0% {
      transform: scale(1);
      transform: translateY(10px);
    }
    100% {
      transform: scale(1.1);
      transform: translateY(-10px);
    }
  }
}
